@import "~antd/dist/antd.css";

::before,
::after {
  --tw-content: "";
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: inherit;
}

html,
body,
#root {
  height: 100vh;
}

@tailwind base;
@tailwind utilities;

.ant-layout-footer,
.ant-layout-header {
  @apply bg-gray-200;
}

.ant-layout-content {
  @apply bg-white;
}

.ant-tag {
  margin-right: 0;
}
